@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans HK', arial;
  font-weight: 100;
}
* {
  margin: 0;
  padding: 0;
}