@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/schnae1/images/master/pier-569314_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 98vh;
  width: 100wv;
  position: relative;
  margin: 0;
}
#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background: rgba(112, 112, 112, 0.75);
  border-radius: 10px;
  padding: 16px;
  max-width: 580px;
  min-width: 400px;
  margin: auto;
}
#text {
  color: white;
  font-size: 1.6em;
  text-align: left;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 1.2px
}
#author {
  color: white;
  font-size: 1.6em;
  text-align: left;
  font-family: 'Kaushan Script', cursive;
  margin-top: 1px;
  margin-left: 50px;
}
#buttons {
  display: flex;
  justify-content: space-around;
}
#new-quote {
  background-color: white;
  border: none;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
  font-family: 'Red Hat Display', sans-serif;
}
#new-quote:focus {
  outline: 0;
}
#new-quote:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
#by-link {
  color: white;
  text-decoration: none;
}
#by-link:hover {
  color: black;
  font-weight: bold;
}
#tweet-quote {
  color: white;
  text-decoration: none;
}
#tweet-quote:hover {
  color: #38A1F3;
  cursor: pointer;
}

